#s-2049b64f-a587-4ecc-800a-3ba5b336327e > #backgroundBox {
  position: absolute;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e > #alignmentBox {
  position: relative;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Rectangle_1 {
  position: absolute;
  width: 1024.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Rectangle_1 {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Ellipse_1 {
  width: 37.0px;
  height: 37.0px;
  min-height: 37.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #CBCBCB;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Ellipse_1 {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #shapewrapper-s-Ellipse_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Image_35 {
  position: absolute;
  width: 18.499999999999773px;
  height: 21.58333333333333px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Image_35 {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_1 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_1 {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_1 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_2 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_2 {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_2 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_3 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_3 {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_3 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_4 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_4 {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_4 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text_4 span#rtr-s-Text_4_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Bg_7 {
  position: absolute;
  width: 676.0000000000002px;
  min-height: 400.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Bg_7 {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Bg_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Bg_7 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Bg_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Bg_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Bg_7 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Bg_7 span#rtr-s-Bg_7_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text {
  position: absolute;
  width: 262.8888888888889px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text .valign {
  vertical-align: middle;
  text-align: center;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Text span#rtr-s-Text_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Paragraph_9 {
  position: absolute;
  width: 525.7777777777783px;
  min-height: 166.66666666666666px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Paragraph_9 {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Paragraph_9 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Button_1 {
  position: absolute;
  width: 68.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Button_1 {
  box-shadow: none;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-2049b64f-a587-4ecc-800a-3ba5b336327e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
