#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd > #backgroundBox {
  position: absolute;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd > #alignmentBox {
  position: relative;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Rectangle_1 {
  position: absolute;
  width: 1024.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Rectangle_1 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Ellipse_1 {
  width: 37.0px;
  height: 37.0px;
  min-height: 37.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #CBCBCB;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Ellipse_1 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #shapewrapper-s-Ellipse_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Image_35 {
  position: absolute;
  width: 18.499999999999773px;
  height: 21.58333333333333px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Image_35 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_1 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_1 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_1 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_1 span#rtr-s-Text_1_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_2 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_2 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_2 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_2 span#rtr-s-Text_2_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_3 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_3 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_3 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_3 span#rtr-s-Text_3_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_4 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_4 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_4 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_4 span#rtr-s-Text_4_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_8 {
  position: absolute;
  width: 259.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_8 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Radio_button_1 {
  position: absolute;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Radio_button_1 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_1 {
  position: absolute;
  width: 157.0px;
  min-height: 16.42675159235667px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_1 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Radio_button_2 {
  position: absolute;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Radio_button_2 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_2 {
  position: absolute;
  width: 157.0px;
  min-height: 16.42675159235667px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_2 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Radio_button_3 {
  position: absolute;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Radio_button_3 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_3 {
  position: absolute;
  width: 157.0px;
  min-height: 16.42675159235667px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_3 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Table_1 {
  position: absolute;
  width: 1020.0000000000002px;
  height: 149.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Table_1 {
  box-shadow: none;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Table_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_25 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_25 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_25 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_25 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_25 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_26 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_26 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_26 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_26 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_26 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_27 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_27 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_27 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_27 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_27 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_28 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_28 {
  width: 11.825318940137388%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_28 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_28 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_29 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_29 {
  width: 21.246319921491654%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_29 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_29 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_30 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_30 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_30 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_30 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_30 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_31 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_31 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_31 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_31 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_32 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_32 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_32 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_32 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_33 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_33 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_33 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_33 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_33 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_33 span#rtr-s-Text_cell_33_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_34 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_34 {
  width: 11.825318940137388%;
  height: 25.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_34 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_34 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_34 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_34 span#rtr-s-Text_cell_34_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_35 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_35 {
  width: 21.246319921491654%;
  height: 25.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_35 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_35 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_35 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_35 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_35 span#rtr-s-Text_cell_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_36 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_36 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_36 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_36 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_36 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_36 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_36 span#rtr-s-Text_cell_36_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_37 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_37 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_37 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_37 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_37 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_38 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_38 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_38 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_38 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_39 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_39 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_39 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_39 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_39 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_40 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_40 {
  width: 11.825318940137388%;
  height: 25.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_40 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_40 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_41 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_41 {
  width: 21.246319921491654%;
  height: 25.0%;
  text-shadow: none;
  cursor: pointer;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_41 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_41 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_41 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_41 span#rtr-s-Text_cell_41_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_42 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_42 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_42 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_42 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_42 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_42 span#rtr-s-Text_cell_42_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_43 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_43 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_43 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_43 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_43 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_44 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_44 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_44 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_44 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_45 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_45 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_45 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_45 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_45 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_46 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_46 {
  width: 11.825318940137388%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_46 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_46 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_46 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_46 span#rtr-s-Text_cell_46_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_47 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_47 {
  width: 21.246319921491654%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_47 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_47 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_47 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_47 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_47 span#rtr-s-Text_cell_47_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_48 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_48 {
  width: 16.732090284592736%;
  height: 25.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_48 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_48 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_48 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd #s-Text_cell_48 span#rtr-s-Text_cell_48_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-7e189b37-76c2-46eb-9fdd-4d541bfbcdfd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
