#s-e6b1caa2-1a39-4718-b321-9a874cc01faf > #backgroundBox {
  position: absolute;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf > #alignmentBox {
  position: relative;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_1 {
  position: absolute;
  width: 1024.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_1 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Ellipse_1 {
  width: 37.0px;
  height: 37.0px;
  min-height: 37.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #CBCBCB;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Ellipse_1 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #shapewrapper-s-Ellipse_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Image_35 {
  position: absolute;
  width: 18.499999999999773px;
  height: 21.58333333333333px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Image_35 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_1 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_1 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_1 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_1 span#rtr-s-Text_1_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_2 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_2 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_2 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_2 span#rtr-s-Text_2_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_3 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_3 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_3 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_3 span#rtr-s-Text_3_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_4 {
  position: absolute;
  width: 100.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_4 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_4 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_4 span#rtr-s-Text_4_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_8 {
  position: absolute;
  width: 259.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_8 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_3 {
  position: absolute;
  width: 954.0px;
  min-height: 409.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_3 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_3 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_4 {
  position: absolute;
  width: 160.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_4 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_4 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_4 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_4 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 input::-webkit-input-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 input::-moz-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 input:-moz-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 input:-ms-input-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 {
  position: absolute;
  width: 651.216796875px;
  height: 175.5828025477706px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 .valign {
  vertical-align: middle;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 input {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_3 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_5 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_5 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Text_5 span#rtr-s-Text_5_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_2 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_2 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_5 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_5 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_5 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_5 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_10 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_10 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_10 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_10 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_10 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_10 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_11 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_11 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_11 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_11 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_11 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_11 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 input::-webkit-input-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 input::-moz-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 input:-moz-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 input:-ms-input-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 {
  position: absolute;
  width: 345.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 .valign {
  vertical-align: middle;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-arrow {
  position: absolute;
  width: 19.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-arrow {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_16 {
  position: absolute;
  width: 160.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_16 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_16 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_16 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_16 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_16 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_16 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_17 {
  position: absolute;
  width: 160.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Open Sans',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_17 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_17 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_17 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_17 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_17 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_6 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_6 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_6 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_6 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_6 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_7 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_7 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_7 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_7 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_7 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_7 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_8 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_8 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_8 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_8 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_8 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_9 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_9 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_9 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_9 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_9 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_9 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 input::-webkit-input-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 input::-moz-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 input:-moz-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 input:-ms-input-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 {
  position: absolute;
  width: 345.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 .valign {
  vertical-align: middle;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_5 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-arrow_1 {
  position: absolute;
  width: 19.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-arrow_1 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_12 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_12 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_12 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_12 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_12 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_13 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_13 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_13 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_13 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_13 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_13 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_14 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_14 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_14 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_14 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_14 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_14 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_15 {
  position: absolute;
  width: 345.0px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_15 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_15 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_15 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_15 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_15 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 input::-webkit-input-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 input::-moz-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 input:-moz-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 input:-ms-input-placeholder {
  color: #B2B2B2;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 {
  position: absolute;
  width: 345.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 .valign {
  vertical-align: middle;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Input_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-arrow_2 {
  position: absolute;
  width: 19.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-arrow_2 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_1 {
  position: absolute;
  width: 120.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_1 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_2 {
  position: absolute;
  width: 120.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_2 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_3 {
  position: absolute;
  width: 120.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_3 {
  box-shadow: none;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-e6b1caa2-1a39-4718-b321-9a874cc01faf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
